<app-book-hero></app-book-hero>

<nav class="tab-nav">
  <a routerLink="details" routerLinkActive="active" class="tab-link">
    <lucide-icon name="book" class="h-5 w-5"></lucide-icon>
    <span>Details</span>
  </a>
  <a routerLink="schedule" routerLinkActive="active" class="tab-link">
    <lucide-icon name="CalendarCheck" class="h-5 w-5"></lucide-icon>
    <span>Schedule</span>
  </a>
  <a routerLink="reviews" routerLinkActive="active" class="tab-link">
    <lucide-icon name="MessagesSquare" class="h-5 w-5"></lucide-icon>
    <span>Reviews</span>
  </a>
  <a routerLink="preview" routerLinkActive="active" class="tab-link">
    <lucide-icon name="Eye" class="h-5 w-5"></lucide-icon>
    <span>Preview</span>
  </a>
</nav>

<router-outlet></router-outlet>
