.search-container {
  transition: all 0.3s ease-in-out;
}

.search-input {
  background-color: var(--color-background-medium);
  transition: width 0.3s ease-in-out;
}

.search-container:focus-within {
  width: 75%;
  max-width: 42rem;
}

@media (max-width: 1024px) {
  .search-container {
    width: 100% !important;
    max-width: 100% !important;
  }
  .search-input {
    font-size: 0.95rem;
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 400px) {
  .mobile-search-bar {
    display: none !important;
  }
}
